$defaultFontSize: 1rem;
$plainTitleFontSize: 1.5rem;
$headTitleFontSize: 2.5rem;

$accentColor1: #f2f2f2;
$accentColor2: #57b894;
$accentColor3: #d9b23d;
$accentColor4: #bf984e;
$accentColor5: #a6845b;
$supportColorWhite: #fff;
$supportColorLight: #f2f2f2;
$supportColorDark: #2f2e41;
