.card-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 12em;
  height: 16em;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $supportColorLight;
  border-radius: 20px;
  color: $supportColorDark;
}

.card-word,
.card-transcr,
.card-def {
  margin-bottom: 0.5rem;
}

.card-word,
.card-transcr,
.card-def,
.card-category {
  margin-bottom: 1em;
}

.card-word {
  font-size: 2rem;
  font-weight: 600;
}

.card-transcr {
  font-style: italic;
}

.card-category {
  width: max-content;
  margin: auto;
  padding: 0 5px;
  background-color: $accentColor3;
  color: $supportColorWhite;
}

.card-example {
  font-weight: 300;
}

.card-btn {
  @include btn;
  width: 100px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: $supportColorWhite;
  background-color: $accentColor2;
  &:hover {
    background-color: $accentColor5;
  }
  &:active {
    background-color: $accentColor4;
  }
}
